[user]
	name = Marc Ziani de Ferranti
	email = mezdef@gmail.com

[push]
	default = simple

[alias]

[core]
	excludesfile = /Users/mezdef/dotfiles/.gitignore
	editor = vim

[diff]
	tool = vimdiff

[difftool]
    tool = vimdiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
