# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and db
*.log
*.sql
*.sqlite

## OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
script-names.vim-scripts.org.json

vim/tmp
*.swp
*.zsh_history
