[user]
	name = Marc Ziani de Ferranti
	email = mezdef@gmail.com

[push]
	default = simple

[alias]

[core]
	excludesfile = /Users/mezdef/dotfiles/.gitignore
	editor = vim

[diff]
	tool = vimdiff

[difftool]
    tool = vimdiff
