<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jtroo.kanata-watcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/marc.deferranti/dotfiles/kanata/scripts/watch-keyboards.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Library/Logs/Kanata/watcher.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/Kanata/watcher.err.log</string>
</dict>
</plist>
